* {
    padding: 0;
    margin: 0;
    overflow: hidden;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    user-select: none;
    background: linear-gradient(90deg, #1249c7, #5a5798, #5e3ec9);
    position: relative;
    min-width: 1200px;
}

.info {
    position: absolute;
    top: 5%;
    left: 70%;
    height: auto;
    width: 20%;
    max-width: 30%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    backdrop-filter: blur(10px);
}

#title {
    margin-bottom: 14px;
    font-size: 1.9em;
    font-weight: 900;
    text-align: center;
    color: #2d2d7d;
    letter-spacing: 3px;
}

#controls {
    margin-bottom: 15px;
    font-size: 1em;
    color: white;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

#controls p {
    margin-bottom: 10px;
    font-weight: bold;
    color: #ffda79;
    text-transform: uppercase;
}

#controls ul {
    list-style-type: none;
    padding-left: 0;
}

.controls-item {
    margin: 8px 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    font-size: 0.8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s;

}

#start-button, #reset-button {
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

#start-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

#difficulty:disabled,
#difficulty:disabled:hover {
    background-color: rgba(160, 160, 160, 0.4);
    cursor: not-allowed;
}

#score {
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: #ffda79;
}

.select-dropdown {
    position: relative;
    width: 100%;
}

.select-dropdown:after {
    content: " ";
    position: absolute;
    top: 30px;
    margin-top: -2px;
    right: 8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
}

#difficulty {
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    appearance: none;
    -webkit-appearance: none;
    margin-top: 10px;
    outline: none;
}

#difficulty:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.difficulty-option {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(20, auto);
    padding: 0.5vh;
    gap: 0.4vh;
    border-radius: 0.5vh;
    background-color: rgba(1, 8, 89, 0.5);
}

.grid>div {
    --cell-size: min(4.5vh, 7.5vw);
    height: var(--cell-size);
    width: var(--cell-size);
    border-radius: 0.3vh;
    background-color: rgb(116 143 226 / 20%)
}


.grid>div.ghost {
    background-color: rgba(255, 255, 255, 0.2);
}

.grid>div.I {
    background-color: #08b9c9;
}

.grid>div.J {
    background-color: #da9d13;
}

.grid>div.L {
    background-color: #d16d3d;
}

.grid>div.O {
    background-color: #e46b32;
}

.grid>div.S {
    background-color: #05984e;
}

.grid>div.Z {
    background-color: #1696ff;
}

.grid>div.T {
    background-color: #e6818c;
}

.grid>div.I,
.grid>div.J,
.grid>div.L,
.grid>div.O,
.grid>div.S,
.grid>div.T,
.grid>div.Z,
.grid>div.ghost,
.grid>div.sad {
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.2),
    inset -2px -2px 2px rgba(1, 8, 89, 0.2);
}

.grid>div.sad {
    background-color: #f2c35b;
    transition: background-color 0.5s, box-shadow 0.5s;
}

.grid>div.hide {
    animation: hide 0.5s;
}

@keyframes hide {
    0% {
        transform: scale(0.8) rotate(30deg);
    }

    45% {
        transform: scale(0.8) rotate(-30deg);
    }

    90% {
        transform: scale(1) rotate(0);
    }
}

.grid>div.game-over {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2em;
}

.grid>div.line-removal {
    animation: lineRemoval 0.3s forwards;
}

@keyframes lineRemoval {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0.8);
        opacity: 0.5;
    }
    90% {
        transform: scale(0.5);
        opacity: 0;
    }
}